<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <el-button type="text" @click="vo.dialogVisible = true">点击添加</el-button>

    <el-dialog title="提示" :visible.sync="vo.dialogVisible" width="30%">
        <span>Key:<input type="text" v-model.trim="user.key"></span>
        <span slot="footer" class="dialog-footer">
    <el-button @click="vo.dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="add">确 定</el-button>
  </span>
    </el-dialog>

    <el-table :data="vo.list" style="width: 100%">
        <el-table-column prop="key" label="key" width="180"></el-table-column>
    </el-table>
    <el-pagination :page-size="po.rows" :pager-count="11" layout="sizes, prev, pager, next" :total="vo.total"
                   @current-change="pageChange" @prev-click="pageChange" @next-click="pageChange"
                   @size-change="sizeChange" :page-sizes="[2,10,20,50,100]">
    </el-pagination>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                user: {
                    key: ''
                },
                po: {
                    user: '',
                    pwd: '',
                    page: 1,
                    rows: 20
                },
                vo: {
                    list: [],
                    total: 0,
                    dialogVisible: false
                }
            }
        },
        methods: {
            load: function () {
                var self = this
                $.ajax({
                    url: '/cc/list',
                    data: this.po,
                    success: function (res) {
                        self.vo.list = res.data.rows
                        self.vo.total = res.data.total
                    }
                })
            },
            pageChange: function (page) {
                this.po.page = page
                this.load()
            },
            sizeChange: function (size) {
                this.po.rows = size
                this.load()
            },
            add(){
                var self = this
                $.ajax({
                    url: '/cc/add',
                    type: "POST",
                    data: {
                        key: this.user.key,
                        user: this.po.user,
                        pwd: this.po.pwd
                    },
                    success: function (data) {
                        if (data.status == "0") {
                            self.user.key = ""
                            self.vo.dialogVisible = false
                            self.load()
                        } else {
                            alert(data.message)
                        }
                    }
                })
            }
        },
        mounted: function () {
            this.po.user = getQueryString("user")
            this.po.pwd = getQueryString("pwd")
            this.load()
        },
    })

    function getQueryString(name) {
        var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return decodeURIComponent(r[2]);
        }
        return null;
    }
</script>
</html>